<% provide(:title, "Help") %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="col-md-4">
    <li>ユーザー情報を登録</li>
    <li>ログイン</li>
    <li>テストを受ける</li>
    <li>テストを作る</li>
    <li>成績を見る</li>
  </div>
  <div class="col-md-8">
    <li>ユーザー情報を登録</li>
    「⇨新しくユーザー登録される方はこちらへ」をクリック<br>
    Signup画面に、お名前、メールアドレスを入力し、パスワードを決めて入力してください。<br>
    「Signup」ボタンを押すと、入力したメールアドレスに確認のメールが送信されます。<br>
    届いたメールのリンク箇所をクリックすると、ユーザー登録が完了します。<br>
    <br>
    
    <li>ログイン</li>
    トップページから、メールアドレス、パスワードを入力して「Log in」をクリック<br>
    <br>
    
    <li>テストを受ける</li>
    ログイン後、サイドメニューの「Test」をクリック<br>
    画面右側に受けられるテストの一覧が表示されます。
    各テストのタイトルをクリックすると、テストの受験画面に進みます。<br>
    <br>
    
    <li>テストを作る</li>
    ログイン後、サイドメニューの「Create」をクリック<br>
    カテゴリ、タイトル名を考えて入力します。<br>
    画面右側にテストが作成されました。次に、「question」を選択します。<br>
    <br>
    画面左側に、問題文を考えて入力します。「Create question」をクリック。<br>
    画面右側に問題が作成されました。次に、「create selects」を選択します。<br>
    <br>
    画面左側に、問題の選択肢を考えて入力します。
    正解ならばチェックボックスにチェックを入れ、不正解ならチェックは入れずに「Create selects」をクリック。<br>
    <br>
    
    <li>成績を見る</li>
    過去に受けたテストの結果を見たい時は「Grade」をクリック。<br>
    受けたテストの一覧が画面右側に現れるので、確認したいテストをクリック。<br>
    <br>
    <br>
  </div>
</div>