<% provide(:title, "Home") %>
<%= render 'layouts/header' %>
<h1><%= yield(:title) %></h1>
<p>  Get help on the Ruby on Rails Tutorial at the
  <a href="https://railstutorial.jp/help">
  Rails Tutorial help section</a>.
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
