<% provide(:title, "Search Result") %>
<div class = "row">
  <%= render "users/side_menu", user: @user %>
  <div class="col-md-7 white_block">
    <h4>Search Result (<%= @search_tests.count %>)</h4>
    <ol class="microposts">
      <%= render @search_tests  %>
    </ol>
    <%= will_paginate @search_tests %>
  </div>
</div>