<aside class = "col-md-4">
  <section = "user_info">
    <%= gravatar_for user, size: 50 %>
    <%= user.name %>
  </section>
  <div class = "menu">
    <li><%= link_to "Test", tests_path %></li>
    <li>
      <%= link_to tester_path(:user_id), target: :_blank do %>
        Create Test
      <% end %>
    </li>
    <li>Search</li>
    <li>Grade</li>
    <!--<li>Questionnaire</li>-->
    <!--<li>Create Q</li>-->
    <!--<li>Search</li>-->
    <!--<li>Grade</li>-->
    <!--<li>Answer</li>-->
  </div>
</aside>
