<aside class = "col-md-4">
  <section = "user_info">
    <%= gravatar_for user, size: 50 %>
    <%= user.name %>
  </section>
  <div class = "menu">
    <li>Test</li>
    <li>Search</li>
    <li>Grade</li>
    <li>Questionnaire</li>
    <li>Search</li>
    <li>Grade</li>
    <li>Answer</li>
  </div>
</aside>
