<header class="navbar navbar-fixed-top navbar-inverse navbar-expand-sm mt-3 mb-3">
  <button id='scroll_top' class="btn_fix_top btn-lg btn-primary">▲</button>
  <button id='scroll_bottom' class="btn_fix_bottom btn-lg btn-primary">▼</button>
  <div class="container">
    <%= link_to "MyTest", root_path, id: "logo" %>
    <nav class="pc-nav">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/header_menu' %>
      </ul>
    </nav>
    <nav class="sp-nav">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/header_menu_sp' %>
      </ul>
    </nav>
    <div id="hamburger">
      <span></span>
    </div>
  </div>
</header>